@page
@model AppCoroUPB.Pages.Presentaciones.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Añadir presentacion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Presentacion[0].Fecha)
            </th>
            <th>
                Lugar de Presentacion
            </th>
            <th>
                Tipo de Evento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Presentacion) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Model.GetLugarPresentacion(item.idLugPresent)
            </td>
            <td>
                @Model.GetTipoEvento(item.idEvent)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.idPresent">Editar</a> |
                <a asp-page="./Delete" asp-route-id="@item.idPresent">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
